<h2> Create a Project </h2>
<%= form_for @project do |f| %>

<% if @project.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

    <ul>
    <% @project.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
  <h3>Categories</h3>
<% if Category.count == 0 %>
  No categories to show<br><br>
<% else %>
  <div class="field">
    <%= f.collection_check_boxes :category_ids, Category.all, :id, :title, :checked => [@category] %><br>
<% end %>
  <br>Create new category:
  <%= f.fields_for :categories, @project.categories.build do |categories_fields| %>
        <%= categories_fields.text_field :title %>
<% end %>
  <div class="field">
    Title: <%= f.text_field :title %><br>
    Description: <br> <%= f.text_area :description, cols: 50, rows: 8 %><br>
  </div>
<div class="actions">
  <%= f.submit %>
</div>

<% end %>
