<h1> Project </h1>
Project Title: <%= @project.title %></br>
<%= (100/@tasks.count) %> Completed
</br></br>
Description: <%= @project.description %></br></br>

<% @tasks.each_with_index do |task, index| %>
  <%= index+1 %>: <%= task.task %><br><br>
<!-- </br></br>Commented by: <%=%></br></br></br> -->
<% end %>

<%= render partial: 'tasks/form', locals: { task: @task } %>
<br><br>
Posted By: <%= @user %>
</br>
<hr>
Comments:</br></br>
<% @comments.each_with_index do |comment, index| %>
  <%= index+1 %>: <%= comment.comment %> - <%= comment.get_name_from_user_id(comment.user_id) %><br><br>
<!-- </br></br>Commented by: <%=%></br></br></br> -->
<% end %>
<h3>Add Comment:</h3></br>
<%= render partial: 'comments/form', locals: { comment: @comment } %>
